<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Головна – Залізнична каса</title>
    <link rel="icon" href="img/logo.png" type="image/png">
</head>
<body class="bg-light">
<header>
    <%- include('partials/header'); %>
    <style>
        .hover-zoom:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
            cursor: pointer;
        }
        .hover-zoom {
            transition: transform 0.3s ease;
        }
    </style>
</header>
<div class="background-image"></div>
<main>
    <div class="container mt-5">
        <div class="card p-3 shadow-sm" style="border-radius: 15px; background-color: #f8f9fa;">
            <form action="/search">
                <div class="row g-2 align-items-center justify-content-center">
                    <input type="hidden" name="fromStationId" id="fromStationId">
                    <input type="hidden" name="toStationId" id="toStationId">

                    <div class="col-md-3 position-relative">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="fromStationInput" placeholder="Звідки"
                                   autocomplete="off" required>
                            <label for="fromStationInput">Звідки</label>
                        </div>
                        <ul class="dropdown-menu w-100" id="fromStationDropdown"
                            style="max-height: 200px; overflow-y: auto;">
                        </ul>
                    </div>

                    <div class="col-auto text-center">
                        <button type="button" class="btn btn-outline-primary" id="swapBtn">
                            <i class="bi bi-arrow-left-right fs-5"></i>
                        </button>
                    </div>

                    <div class="col-md-3 position-relative">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="toStationInput" placeholder="Куди"
                                   autocomplete="off" required>
                            <label for="toStationInput">Куди</label>
                        </div>
                        <ul class="dropdown-menu w-100" id="toStationDropdown"
                            style="max-height: 200px; overflow-y: auto;">
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <div class="form-floating">
                            <input type="date" class="form-control" id="travelDate" name="date" required
                                   value="<%= new Date().toISOString().split('T')[0] %>"
                                   min="<%= new Date().toISOString().split('T')[0] %>"
                                   max="<%= new Date(new Date().setMonth(new Date().getMonth() + 2)).toISOString().split('T')[0] %>">
                            <label for="travelDate">Дата</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input class="btn btn-primary w-100" type="submit" style="height: 58px;" value="Знайти">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section class="popular-routes p-2 card container mt-5 rounded-4 shadow-lg">
        <div class="card-body">
            <h2 class="text-center mb-5 text-primary">Популярні напрямки</h2>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <% popularRoutes.forEach(route => { %>
                        <div class="col">
                            <div class="card shadow-lg rounded-3 border-0 hover-zoom"
                                 onclick="fillStations(<%= route.departure_station_id %>, '<%= route.departure_station_name %>', <%= route.arrival_station_id %>, '<%= route.arrival_station_name %>')">
                            <div class="card-body">
                                    <h5 class="card-title text-dark fw-bold"><%= route.departure_station_name %> <i class="bi bi-arrow-right"></i> <%= route.arrival_station_name %></h5>

                                    <p class="card-text text-muted">Кількість проданих квитків: <strong><%= route.tickets_sold %></strong></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
        </div>
    </section>

</main>
<script src="js/searchTrainsForm.js"></script>
<script>
    const stations = <%- JSON.stringify(stations) %>;

    function fillStations(departureStationId, departureStationName, arrivalStationId, arrivalStationName) {
        fromStationIdInput.value = departureStationId;
        toStationIdInput.value = arrivalStationId;
        fromStationInput.value = departureStationName;
        toStationInput.value = arrivalStationName;
    }
</script>
</body>
</html>