<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профіль – Залізнична каса</title>
    <link rel="icon" href="img/logo.png" type="image/png">
</head>
<body class="bg-light">
<header style="padding-bottom: 60px;">
    <%- include('partials/header'); %>
</header>
<main>
    <section class="profile-header bg-light py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h2 class="display-4 fw-bold text-primary"><%= user.getFullName() %></h2>
                    <p class="text-muted"><%= user.email %></p>
                    <p class="text-muted"><%= user.phone_number %></p>
                    <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                        <i class="bi bi-pencil"></i> Редагувати профіль
                    </button>
                </div>

                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="card shadow-lg border-0 rounded-3">
                        <div class="card-header bg-primary text-white text-center py-4">
                            <h4 class="mb-0">Статистика профілю</h4>
                        </div>
                        <div class="card-body p-4">
                            <div class="row text-center">
                                <div class="col-lg-4 mb-4 mb-lg-0">
                                    <div class="card h-100 border-0 bg-light shadow-sm">
                                        <div class="card-body py-4">
                                            <i class="bi bi-train-front text-primary mb-3" style="font-size: 2rem;"></i>
                                            <h6 class="card-title">Кількість поїздок</h6>
                                            <p class="fs-3 mb-0"><%= new Intl.NumberFormat('uk-UA').format(statistics.rides_count) %></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 mb-4 mb-lg-0">
                                    <div class="card h-100 border-0 bg-light shadow-sm">
                                        <div class="card-body py-4">
                                            <i class="bi bi-clock text-primary mb-3" style="font-size: 2rem;"></i>
                                            <h6 class="card-title">Час у дорозі</h6>
                                            <p class="fs-3 mb-0"><%= new Intl.NumberFormat('uk-UA').format(statistics.total_ride_time_hours) %> год</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card h-100 border-0 bg-light shadow-sm">
                                        <div class="card-body py-4">
                                            <i class="bi bi-arrows-angle-expand text-primary mb-3" style="font-size: 2rem;"></i>
                                            <h6 class="card-title">Відстань у дорозі</h6>
                                            <p class="fs-3 mb-0"><%= new Intl.NumberFormat('uk-UA').format(statistics.total_ride_distance_km) %> км</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <div class="container-fluid mt-5">
        <ul class="nav nav-tabs container" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tickets-tab" data-bs-toggle="tab" data-bs-target="#tickets"
                        type="button" role="tab" aria-controls="tickets" aria-selected="true">Квитки
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="passengers-tab" data-bs-toggle="tab" data-bs-target="#passengers"
                        type="button" role="tab" aria-controls="passengers" aria-selected="false">Пасажири
                </button>
            </li>
        </ul>

        <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">
                <section class="text-center">
                    <h3>Мої квитки</h3>
                    <div class="row justify-content-center mb-4">
                        <div class="col-md-8">
                            <div class="card p-4" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="card-body">
                                    <h5 class="text-center mb-4">Пошук квитків</h5>
                                    <form id="ticketSearchForm">
                                        <div class="row g-2 align-items-center justify-content-center">
                                            <div class="col-md-3 position-relative">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="passengerLastName"
                                                           placeholder="Прізвище пасажира">
                                                    <label for="passengerName">Прізвище пасажира</label>
                                                </div>
                                            </div>

                                            <input type="hidden" name="fromStationId" id="fromStationId">
                                            <input type="hidden" name="toStationId" id="toStationId">

                                            <div class="col-md-3 position-relative">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="fromStationInput"
                                                           placeholder="Станція відправлення"
                                                           autocomplete="off">
                                                    <label for="fromStationInput">Станція відправлення</label>
                                                </div>
                                                <ul class="dropdown-menu w-100" id="fromStationDropdown"
                                                    style="max-height: 200px; overflow-y: auto;">
                                                </ul>
                                            </div>

                                            <div class="col-md-3 position-relative">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="toStationInput"
                                                           placeholder="Станція прибуття"
                                                           autocomplete="off">
                                                    <label for="toStationInput">Станція прибуття</label>
                                                </div>
                                                <ul class="dropdown-menu w-100" id="toStationDropdown"
                                                    style="max-height: 200px; overflow-y: auto;">
                                                </ul>
                                            </div>

                                            <div class="col-md-3 d-flex align-items-end">
                                                <button type="submit" class="btn btn-primary w-100" style="height: 56px;">Знайти</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row container m-auto">
                        <div class="col-md-4" id="sort-filter-block">
                            <div class="card p-3" style="border-radius: 15px; background-color: #f8f9fa;">
                                <div class="card-body">
                                    <div class="form-floating">
                                        <select class="form-select mb-2" id="ticketSort">
                                            <option value="new_first">Спочатку нові</option>
                                            <option value="old_first">Спочатку старі</option>
                                            <option value="cheap_first">Спочатку дешеві</option>
                                            <option value="expensive_first">Спочатку дорогі</option>
                                        </select>
                                        <label for="ticketSort">Сортування</label>
                                    </div>

                                    <div class="form-floating mb-2">
                                        <select class="form-select" id="ticketValidity">
                                            <option value="">Усі</option>
                                            <option value="valid">Дійсні</option>
                                            <option value="expired">Використані</option>
                                        </select>
                                        <label for="ticketValidity">Дійсність квитка</label>
                                    </div>

                                    <div class="form-floating">
                                        <select class="form-select" id="trainCategory"></select>
                                        <label for="trainCategory">Категорія поїзда</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tickets-container" class="m-auto mt-4 col-md-8"></div>
                    </div>
                </section>

            </div>

            <div class="tab-pane fade" id="passengers" role="tabpanel" aria-labelledby="passengers-tab">
                <section class="container text-center mt-4">
                    <h3>Мої пасажири</h3>
                    <table class="table table-striped table-hover mt-4">
                        <thead>
                        <tr>
                            <th scope="col">Імʼя</th>
                            <th scope="col">Прізвище</th>
                            <th scope="col">Пільга</th>
                            <th scope="col">Пільговий документ</th>
                            <th scope="col">Номер пільгового документу</th>
                            <th scope="col">Дії</th>
                        </tr>
                        </thead>
                        <tbody id="passengers-table-block">
                        </tbody>
                    </table>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                        <button class="btn btn-primary" onclick="addPassengerModal.show()">
                            Додати пасажира
                        </button>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPassengerModal" tabindex="-1" aria-labelledby="addPassengerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPassengerModalLabel">Додати пасажира</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addPassengerForm" action="/passenger" method="POST">
                        <div class="mb-3">
                            <label for="passengerName" class="form-label">Імʼя</label>
                            <input type="text" class="form-control" id="passengerName" name="firstName" required>
                        </div>
                        <div class="mb-3">
                            <label for="passengerSurname" class="form-label">Прізвище</label>
                            <input type="text" class="form-control" id="passengerSurname" name="lastName" required>
                        </div>
                        <div class="mb-3">
                            <label for="addBenefit" class="form-label">Пільга</label>
                            <select class="form-select" id="addBenefit" name="benefitId">
                                <option value="">Без пільги</option>
                                <% benefits.forEach(benefit => { %>
                                    <option value="<%= benefit.benefit_id %>"
                                            data-document="<%= benefit.document_name %>">
                                        <%= benefit.benefit_name %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3" id="addBenefitDocumentField" style="display: none;">
                            <label id="addBenefitDocumentLabel" class="form-label">Номер пільгового документа</label>
                            <input type="text" class="form-control" id="addBenefitDocument" name="benefitDocument">
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">Зберегти пасажира</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPassengerModal" tabindex="-1" aria-labelledby="editPassengerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPassengerModalLabel">Редагувати пасажира</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editPassengerForm">
                        <input type="hidden" id="editPassengerId" name="passengerId">
                        <div class="mb-3">
                            <label for="editPassengerName" class="form-label">Імʼя</label>
                            <input type="text" class="form-control" id="editPassengerName" name="firstName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editPassengerSurname" class="form-label">Прізвище</label>
                            <input type="text" class="form-control" id="editPassengerSurname" name="lastName" required>
                        </div>
                        <div class="mb-3">
                            <label for="editBenefit" class="form-label">Пільга</label>
                            <select class="form-select" id="editBenefit" name="benefitId">
                                <option value="">Без пільги</option>
                                <% benefits.forEach(benefit => { %>
                                    <option value="<%= benefit.benefit_id %>"
                                            data-document="<%= benefit.document_name %>">
                                        <%= benefit.benefit_name %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-3" id="editBenefitDocumentField" style="display: none;">
                            <label id="editBenefitDocumentLabel" for="editBenefitDocument" class="form-label">Номер
                                пільгового документа</label>
                            <input type="text" class="form-control" id="editBenefitDocument" name="benefitDocument">
                        </div>
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">Зберегти зміни</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deletePassengerModal" tabindex="-1" aria-labelledby="deletePassengerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePassengerModalLabel">Підтвердження видалення</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Ви дійсно хочете видалити пасажира <span id="deletingPassengerName"></span>?
                    <br>
                    Після цього ви не будете мати доступ до всіх квитків цього пасажира!

                    <div class="modal-footer mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>
                        <button type="submit" class="btn btn-danger" onclick="deletePassenger()">Видалити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Редагувати профіль</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editProfileForm" action="javascript:void(0);">
                        <div class="mb-3">
                            <label for="editProfileName" class="form-label">Імʼя</label>
                            <input type="text" class="form-control" id="editProfileName" name="firstName"
                                   value="<%= user.user_first_name %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="editProfileSurname" class="form-label">Прізвище</label>
                            <input type="text" class="form-control" id="editProfileSurname" name="lastName"
                                   value="<%= user.user_last_name %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="editProfilePhoneNumber" class="form-label">Номер телефону</label>
                            <input type="tel"
                                   minlength="17" maxlength="17" class="form-control" id="editProfilePhoneNumber"
                                   name="phoneNumber" value="<%= user.phone_number %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="editProfileEmail" class="form-label">Електронна пошта</label>
                            <input type="email" class="form-control" id="editProfileEmail" name="email"
                                   value="<%= user.email %>" required>
                        </div>
                        <div class="d-grid mt-4">
                            <button type="button" class="btn btn-primary" onclick="updateProfile()">Зберегти зміни
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="js/phoneNumberForm.js"></script>
<script src="js/addPassengerForm.js"></script>
<script src="js/searchTrainsForm.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    <%- helpers.formatDateWithMonth.toString() %>
    <%- helpers.formatDateWithMonthAndYear.toString() %>
    <%- helpers.formatPrice.toString() %>

    const stations = <%- JSON.stringify(stations) %>;

    const addPassengerModal = new bootstrap.Modal(document.getElementById('addPassengerModal'));
    const editPassengerModal = new bootstrap.Modal(document.getElementById('editPassengerModal'));

    document.getElementById('addPassengerForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const formData = new FormData(this);
        const jsonData = {};
        formData.forEach((value, key) => {
            jsonData[key] = value;
        });

        try {
            const response = await fetch('/passenger', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            });

            console.log(response);

            if (response.ok) {
                await loadPassengers();
                addPassengerModal.hide();
            } else {
                const errorData = await response.json();
                showErrorAlert(errorData.error || 'Не вдалося додати пасажира');
            }
        } catch (error) {
            console.error('Error:', error);
            showErrorAlert('Сталася помилка');
        }
    });

    function showEditForm(id, firstName, lastName, benefitId, benefitDocument) {
        const fields = {
            id: document.getElementById("editPassengerId"),
            firstName: document.getElementById("editPassengerName"),
            lastName: document.getElementById("editPassengerSurname"),
            benefit: document.getElementById("editBenefit"),
            benefitDocument: document.getElementById("editBenefitDocument"),
            benefitField: document.getElementById("editBenefitDocumentField")
        };

        fields.id.value = id;
        fields.firstName.value = firstName;
        fields.lastName.value = lastName;
        fields.benefit.value = benefitId || "";
        fields.benefitDocument.value = benefitDocument || "";

        fields.benefitField.style.display = benefitId ? "block" : "none";

        editPassengerModal.show();
    }

    document.getElementById("editBenefit").addEventListener("change", () =>
        toggleBenefitField("editBenefit", "editBenefitDocumentField", "editBenefitDocumentLabel", "editBenefitDocument")
    );

    document.getElementById("addBenefit").addEventListener("change", () =>
        toggleBenefitField("addBenefit", "addBenefitDocumentField", "addBenefitDocumentLabel", "addBenefitDocument")
    );

    const deletePassengerModalElement = document.getElementById('deletePassengerModal');
    const deletePassengerModal = new bootstrap.Modal(deletePassengerModalElement);
    let deletingPassengerId = null;
    deletePassengerModalElement.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        deletingPassengerId = +button.getAttribute('data-bs-passenger-id');
        const passengerName = button.getAttribute('data-bs-passenger-name');
        const passengerNameSpan = document.getElementById('deletingPassengerName');
        passengerNameSpan.textContent = passengerName;
    });

    async function deletePassenger() {
        try {
            const response = await fetch(`/passenger/${deletingPassengerId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
            });

            if (response.ok) {
                await Promise.all([loadPassengers(), searchTickets()]);
                deletePassengerModal.hide();
            } else {
                const errorData = await response.json();
                deletePassengerModal.hide()
                showErrorAlert(errorData.error || "Помилка при видаленні пасажира");
            }
        } catch (error) {
            console.error(error);
            deletePassengerModal.hide()
            showErrorAlert("Сталася помилка");
        }
    }

    document.getElementById('editPassengerForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        try {
            const formData = new FormData(event.target);
            const formObject = {};
            formData.forEach((value, key) => {
                formObject[key] = value;
            });
            const response = await fetch(`/passenger/${formObject.passengerId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formObject)
            });
            if (!response.ok) {
                const errorData = await response.json();
                console.error("Error: ", errorData.errors);
                showErrorAlert(errorData.errors.map(e => e.msg).join('<br>') || "Помилка при зміні пасажира");
                return;
            }
            await Promise.all([loadPassengers(), searchTickets()]);
            editPassengerModal.hide();
        } catch (error) {
            console.error(error);
            showErrorAlert("Помилка при зміні пасажира");
        }
    });

    async function updateProfile() {
        try {
            const form = document.getElementById('editProfileForm');
            const formData = new FormData(form);
            const formObject = {};
            formData.forEach((value, key) => {
                if (key === 'phoneNumber') {
                    value = value.replace(/\s+/g, '').replace(/[^\d+]/g, '');
                }
                formObject[key] = value;
            });
            const response = await fetch('/edit-profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formObject)
            });
            if (!response.ok) {
                const errorData = await response.json();
                console.error("Error: ", errorData.errors);
                showErrorAlert(errorData.errors.map(e => e.msg).join('<br>') || "Помилка при зміні профілю");
                return;
            }
            window.location.reload();
        } catch (error) {
            console.error(error);
            showErrorAlert("Помилка при зміні профілю");
        }
    }

    function showErrorAlert(errorMessage) {
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: false,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });
        Toast.fire({
            icon: "error",
            title: errorMessage
        });
    }

    async function loadPassengers() {
        const response = await fetch('/passengers');
        if (response.ok) {
            const passengers = (await response.json()).data;
            let html = '';

            passengers.forEach((passenger) => {
                html += `
                    <tr>
                        <td>${passenger.passenger_first_name}</td>
                        <td>${passenger.passenger_last_name}</td>
                        <td>${passenger.benefit ? passenger.benefit.benefit_name : '–'}</td>
                        <td>${passenger.benefit ? passenger.benefit.document_name : '–'}</td>
                        <td>${passenger.benefit ? passenger.benefit_document : '–'}</td>
                        <td>
                            <button class="btn btn-sm btn-warning me-2"
                                    onclick="showEditForm(${passenger.passenger_id}, '${passenger.passenger_first_name}', '${passenger.passenger_last_name}', ${passenger.benefit ? passenger.benefit.benefit_id : null}, ${passenger.benefit_document ? `'${passenger.benefit_document}'` : null})">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deletePassengerModal"
                                    data-bs-passenger-id="${passenger.passenger_id}"
                                    data-bs-passenger-name="${passenger.passenger_first_name} ${passenger.passenger_last_name}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
               `;
            });

            document.getElementById('passengers-table-block').innerHTML = html;
        }
    }

    let lastSearchParams = {
        passengerLastName: null,
        fromStationId: null,
        toStationId: null,
    }

    async function searchTickets(applyFilters = false) {
        const passengerLastName = applyFilters ? lastSearchParams.passengerLastName : document.getElementById('passengerLastName').value;
        const fromStationId = applyFilters ? lastSearchParams.fromStationId : document.getElementById('fromStationId').value;
        const toStationId = applyFilters ? lastSearchParams.toStationId : document.getElementById('toStationId').value;
        const sortCriteria = document.getElementById('ticketSort').value;

        const ticketValidity = document.getElementById('ticketValidity').value;
        const trainCategoryId = document.getElementById('trainCategory').value;

        lastSearchParams.passengerLastName = passengerLastName;
        lastSearchParams.fromStationId = fromStationId;
        lastSearchParams.toStationId = toStationId;

        const searchUrlPart = `/tickets?passengerLastName=${passengerLastName}&fromStationId=${fromStationId}&toStationId=${toStationId}&sortCriteria=${sortCriteria}`;
        const filterUrlParams = applyFilters ? `${ticketValidity ? `&ticketValidity=${ticketValidity}` : ''}&trainCategoryId=${trainCategoryId}` : '';

        const response = await fetch(`${searchUrlPart}${filterUrlParams}`);
        if (response.ok) {
            const tickets = (await response.json()).data;
            let html = '';
            let lastDate = null;

            if (!applyFilters) {
                document.getElementById('trainCategory').innerHTML =
                    `<option value=''>Усі категорії</option>` +
                    Array.from(new Map(tickets.map(t => [t.train_category_id, t])).values())
                        .map(t => `<option value='${t.train_category_id}'>${t.train_category_full_name}</option>`)
                        .join('');
            }

            const sortFilterBlock = document.getElementById('sort-filter-block');
            if (tickets.length === 0) {
                sortFilterBlock.style.display = applyFilters ? 'block' : 'none';
                html = `
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="alert alert-secondary text-center">
                                <span>Квитків не знайдено</span>
                            </div>
                        </div>
                    </div>
                `;
            } else {
                sortFilterBlock.style.display = 'block';
            }

            tickets.forEach((ticket) => {
                const hours = Math.floor(ticket.total_travel_time_minutes / 60);
                const minutes = ticket.total_travel_time_minutes % 60;
                const formattedDuration = `${hours} год ${minutes} хв`;
                const formattedDate = formatDateWithMonthAndYear(new Date(ticket.trip_start_date));

                if (lastDate !== formattedDate) {
                    html += `<div class="date-header mb-3"><strong>${formattedDate}</strong></div>`;
                    lastDate = formattedDate;
                }
                html += `
                    <div class="train-card col-md-12 m-auto rounded-5 mb-3 shadow-sm">
                        <div class="content flex-grow-1">
                            <div class="header d-flex justify-content-center">
                                <div class="train-number">${ticket.train_number}</div>
                            </div>
                            <div class="d-flex justify-content-between mx-2 px-1">
                                <div class="fs-5">${ticket.departure_station_name}</div>
                                <div class="fs-5">${ticket.arrival_station_name}</div>
                            </div>
                            <div class="route-info p-0 mt-3 ps-1">
                                <div class="station-info">
                                    <strong class="text-black">${ticket.departure_time}</strong>
                                </div>

                                <div class="duration-container">
                                    <div class="circle-start d-sm-block d-none"></div>
                                    <div class="line d-sm-block d-none"></div>
                                    <span class="duration-text">${formattedDuration}</span>
                                    <div class="line d-sm-block d-none"></div>
                                    <div class="circle-end d-sm-block d-none"></div>
                                </div>

                                <div class="station-info text-end">
                                    <strong class="text-black">${ticket.arrival_time}</strong>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mx-2 px-1 d-flex justify-content-between align-items-center">
                            <div class="text-start">
                                <strong>${ticket.passenger_first_name} ${ticket.passenger_last_name}</strong>
                                <div class="text-secondary small">
                                    ${ticket.carriage_number} вагон, ${ticket.seat_number} місце
                                </div>
                            </div>
                            <div class="fs-5 fw-semibold">${formatPrice(+ticket.ticket_price)} ₴</div>
                        </div>
                        <a class="btn btn-outline-secondary" href="/tickets/${ticket.ticket_id}/route/pdf"><i class="bi bi-download"></i> Завантажити маршрут</a>
                        <a class="btn btn-outline-primary" href="/tickets/${ticket.ticket_id}/pdf"><i class="bi-download"></i> Завантажити квиток</a>
                    </div>
               `;
            });

            document.getElementById('tickets-container').innerHTML = html;
        }
    }

    setupPhoneNumberForm(document.getElementById('editProfilePhoneNumber'), document.getElementById('editProfileForm'));

    document.getElementById('ticketSearchForm').addEventListener('submit', e => {
        e.preventDefault();
        searchTickets();
    });

    document.getElementById('ticketSort').addEventListener('change', e => {
        searchTickets(true);
    });

    document.getElementById('ticketValidity').addEventListener('change', e => {
        searchTickets(true);
    });

    document.getElementById('trainCategory').addEventListener('change', e => {
        searchTickets(true);
    });

    loadPassengers();
    searchTickets();
</script>
</body>
</html>